body
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(210, 206, 206);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container
{
    width: 80%;
    min-width: 640px;
    background-color:gainsboro;
    border-style: dotted;
    border-radius: 2px;
    border-color: rgb(140, 133, 133);
    overflow: hidden;
}

header
{
    display:flex;
    justify-content: center;
    align-items: center;
}

#logo, #nav, footer
{
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: beige;
}

#logo
{
    display: inline-flex;
    width: 40%;
    height: 100px;
}

#nav
{
    display: inline-flex;
    justify-content: space-evenly;
    width: 60%;
    height: 100px;
    z-index: 999999;
}


#nav::before
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    content: "";
    background-image: url("https://placekitten.com/1000/100");
    opacity: 0.3;
    z-index: -1;
}

a
{
    color:rgb(98, 49, 76);
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-bottom: 2px dotted rgb(140, 133, 133);
}

.sectionContent
{
    margin: 50px;
}

.sectionContent::before
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    content: "";
    
    opacity: 0.3;
    z-index: -1;
}

.columnImg
{
    width: 300px;
    height: 200px;
    background-image: url("https://placekitten.com/500/200");
}

.columnText
{
    width: 300px;
    height: 200px;
}

footer
{
    display: flex;
    width: 100%;
    height: 100px;
    font-size: smaller;
}